<%= @game.player1.name %> attacked <%= @game.player2.name %></br></br>
<%= @game.player2.name %>: 10 is deducted</br></br>
<%= @game.player1.name %>: <%= @game.player1.hit_points %>HP</br></br>
<%= @game.player2.name %>: <%= @game.player2.hit_points %>HP</br></br>
<a href="/play">OK</a>
